body {
    background-color: black;
    color: white;
}
#header {
    text-align: center;
    font-size: 30px;
    padding: 40px;
}
h1 {
    font-size: 200%;

}
.col-lg-8,
.col-lg-4 {
    height: 500px;
    border-style: dotted;
    border-color: white;
    border-width: 2px;
}
.img {
    border: none;
    padding: 0px;
    align-content: center;
    margin-top: 30px;
    margin-left: 33px;
}
.rightBox {
    text-align: center;
    margin-top: 30px;
    line-height: 200%;
}